// common
:root {
  color-scheme: light;
  --oe-perf-color-primary: #002FA1;
  --oe-perf-color-secondary: #3265F2;
  --oe-perf-color-third: #021f62;

  --oe-perf-font-size-head: 24px;
  --oe-perf-font-size-display: 20px;
  --oe-perf-font-size-header: 16px;
  --oe-perf-font-size-body: 14px;
  --oe-perf-font-size-caption: 12px;

  --oe-perf-font-color: #fff;

  --oe-perf-padding: 24px;

  --oe-perf-bg-layout: #F5F7FD;
  --oe-perf-bg-section: #fff;
  
  --oe-perf-approval-icon-size: 42px;
  --oe-perf-approval-normal-color: #333333;
}