// common
:root {
  color-scheme: light;
  --hy-boke-header-color: #040603;

  --hy-boke-color-shallow: #c7c7c7;
  --hy-boke-color-primary: #240603;
  --hy-boke-color-secondary: #4b4b49;
  --hy-boke-color-third: #000000;

  --hy-boke-font-size-head: 24px;
  --hy-boke-font-size-display: 20px;
  --hy-boke-font-size-header: 16px;
  --hy-boke-font-size-body: 14px;
  --hy-boke-font-size-caption: 12px;

  --hy-boke-font-color: #fff;

  --hy-boke-padding: 24px;

  --hy-boke-bg-layout: #F5F7FD;
  --hy-boke-bg-section: #fff;
  
  --hy-boke-approval-icon-size: 42px;
  --hy-boke-approval-normal-color: #333333;
}